<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377338010076-7qs0044fm1brtjn6q7b281qvae48t0l9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377338010076-7qs0044fm1brtjn6q7b281qvae48t0l9</string>
	<key>API_KEY</key>
	<string>AIzaSyAK7JO6jDmBlDj5sF0khkkBIxPLHJ_n4qA</string>
	<key>GCM_SENDER_ID</key>
	<string>377338010076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.takuji.fukumoto.mahjongsharingapp.mahjongSharingApp</string>
	<key>PROJECT_ID</key>
	<string>mahjong-sharing-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mahjong-sharing-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377338010076:ios:03ba14e5e59e0e84379719</string>
</dict>
</plist>